<div class="p-10">
  <h1 class="font-bold bg-yellow-400 text-4xl pl-2 py-2">Report: <%= metadata.name %></h1>

  <div class="mt-5 mb-5 gap-3 grid grid-cols-2">
    <div class="p-3 bg-gray-100">
      <table>
        <tr>
          <th class="text-left pr-2">Generated at</th>
          <td><%= utils.formatDate(metadata.generatedAt, 'dd.MM.yyyy HH:mm') %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Date tange</th>
          <td><%= utils.formatDate(data.options.startDate, 'dd.MM.yyyy') %> - <%= utils.formatDate(data.options.endDate, 'dd.MM.yyyy') %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Payment type</th>
          <td><%= data.options.paymentType ? { 'invoice': 'Invoice', 'cash': 'Cash' }[data.options.paymentType] ?? 'Unknown' : 'All' %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Included event types</th>
          <td><%= data.options.eventTypes ? data.options.eventTypes.join(', ') : 'All' %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Group by</th>
          <td><%= data.options.groupBy ? { center: 'Debt center', payer: 'Payer' }[data.options.groupBy] : 'Nothing' %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Included debt centers</th>
          <td><%= data.options.centers ? 'Selected' : 'All' %></td>
        </tr>
      </table>
    </div>
    <div class="p-3 bg-gray-100">
      <table>
        <tr>
          <th class="text-left pr-2">Event count</th>
          <td><%= data.groups.map(({ events }) => events.length).reduce((a, b) => a + b, 0) %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Unique payer count</th>
          <td><%= (new Set(data.groups.flatMap(({ events }) => events.map((event) => event.payer.id.value)))).size %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Total amount</th>
          <td><%= utils.formatEuro(data.groups.flatMap(({ events }) => events).map((event) => event.amount).reduce(utils.sumEuroValues, utils.euro(0))) %></td>
        </tr>
      </table>
    </div>
  </div>

  <table id="content">
    <tr>
      <th class="header-border">Time</th>
      <th class="header-border">Payment</th>
      <th class="header-border">Debt</th>
      <th class="header-border">Title</th>
      <th class="header-border">Payer</th>
      <th class="header-border">Action</th>
      <th class="header-border text-right">Amount</th>
    </tr>
    <%
      for (const { name, id, events } of data.groups) {
        if (name) {
    %>
      <tr>
        <td class="font-bold"><%= id %></td>
        <td class="font-bold" colspan=5><%= name %></td>
        <td class="font-bold text-right"><%= utils.formatEuro(events.map(event => event.amount).reduce(utils.sumEuroValues, utils.euro(0))) %></td>
      </tr>
    <%
        }

        for (const event of events) {
    %>
      <tr>
        <td <%- name ? 'class="!pl-4"' : '' %>><%= utils.formatDate(event.time, 'dd.MM.yyyy HH:mm') %></td>
        <td><%= event.payment.humanId %></td>
        <td><%= event.debt.humanId %></td>
        <td><%= event.payment.title %></td>
        <td><%= event.payer.name %></td>
        <td><%= event.type %></td>
        <td class="text-right"><%= utils.formatEuro(event.amount) %></td>
      </tr>
    <%
        }
      }
    %>
  </table>
</div>

<style type="postcss">
  table#content {
    width: 100%;
  }

  #content th {
    @apply bg-gray-100 py-0.5 px-1 text-left whitespace-nowrap;
  }

  .header-border {
    @apply border-b-4 border-b-gray-300;
  }

  #content td {
    @apply px-1 py-0.5;

    vertical-align: top;
  }

  #content tbody tr:nth-child(even) {
    @apply bg-gray-100;
  }
</style>

<script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
