<div class="p-10">
  <h1 class="font-bold bg-yellow-400 text-4xl pl-2 py-2">Report: <%= metadata.name %></h1>

  <div class="mt-5 mb-5 gap-3 grid grid-cols-2">
    <div class="p-3 bg-gray-100">
      <table>
        <tr>
          <th class="text-left pr-2">Generated at</th>
          <td><%= utils.formatDate(metadata.generatedAt, 'dd.MM.yyyy HH:mm') %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Date tange</th>
          <td><%= utils.formatDate(data.options.startDate, 'dd.MM.yyyy') %> - <%= utils.formatDate(data.options.endDate, 'dd.MM.yyyy') %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Payment type</th>
          <td><%= data.options.paymentType ? { 'invoice': 'Invoice', 'cash': 'Cash' }[data.options.paymentType] ?? 'Unknown' : 'All' %></td>
        </tr>
      </table>
    </div>
    <div class="p-3 bg-gray-100">
      <table>
        <tr>
          <th class="text-left pr-2">Event count</th>
          <td><%= data.events.length %></td>
        </tr>
        <tr>
          <th class="text-left pr-2">Unique payer count</th>
          <td><%= (new Set(data.events.map(({ payer }) => payer.id.value))).size %></td>
        </tr>
      </table>
    </div>
  </div>

  <table id="content">
    <tr>
      <th class="header-border">Time</th>
      <th class="header-border">Payment</th>
      <th class="header-border">Debt</th>
      <th class="header-border">Title</th>
      <th class="header-border">Payer</th>
      <th class="header-border">Action</th>
      <th class="header-border text-right">Amount</th>
    </tr>
    <%
      let lastPayment = null;
      for (const event of data.events) {
    %>
      <tr>
        <td><%= lastPayment !== event.payment.id && utils.formatDate(event.time, 'dd.MM.yyyy HH:mm') %></td>
        <td><%= lastPayment !== event.payment.id && event.payment.humanId %></td>
        <td><%= event.debt.humanId %></td>
        <td><%= event.payment.title %></td>
        <td><%= event.payer.name %></td>
        <td><%= event.type %></td>
        <td class="text-right"><%= utils.formatEuro(event.amount) %></td>
      </tr>
    <%
      lastPayment = event.payment.id;
      }
    %>
  </table>
</div>

<style type="postcss">
  table#content {
    width: 100%;
  }

  #content th {
    @apply bg-gray-100 py-0.5 px-1 text-left whitespace-nowrap;
  }

  .header-border {
    @apply border-b-4 border-b-gray-300;
  }

  #content td {
    @apply px-1 py-0.5;

    vertical-align: top;
  }

  #content tbody tr:nth-child(even) {
    @apply bg-gray-100;
  }
</style>

<script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
